@import '../../main.scss';

.mainOuterNav{
    padding: 20px 0px !important;
    background-color: white;
    .logo{
        max-width:80px;
     }

    .navBarOuterDiv{
        // line-height: 70px;
        cursor: pointer;
        font-size: .855333rem;
        font-weight: $fontWeight;
        flex-grow: 0 !important;
        .navbar-nav{
            display: flex;
            align-items: center;
        }

        .active{
            color:red !important;
        }
        
        a:hover {
            color: red !important;
        }

        .nav-item{
            box-sizing: border-box;
            padding:0 1.3rem;
        }
        .headerCartBtn{
            display: flex;
            align-items: center;
            border: 2px solid red;
            color: $color;
            font-size: 1rem;
            font-weight: 600;
            span{
                padding: 1rem 1rem;
                i{
                    padding-left: 0.5rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 867px) {
    .nav-item{
        padding:0px !important;
        .nav-link{
            padding-right:0.9rem !important;
        } 
    }
  }
