.updatePasswordOuterDiv{
    input:focus{
        outline: none;
    }
    .leftDiv{
        padding-right: 70px;
    }
    .rightDiv{
        padding-right: 40px;
    }
    p{
        padding-bottom: 20px;
    }
    padding-top: 60px;
    padding-left: 20px
}