.contactHeading{
    font-weight: 700;
    font-size: 60px;
    padding-bottom: 15px;
}

.contactParagraph{
    color:#808285;
}

.contactLeftDiv{
    padding-top: 160px;
    padding-left: 30px;
    padding-right:100px;
}