.outerdiv{
    background-color: #f4f5f6;
    height: auto;
    padding-left: 34px;
    padding-right: 30px;
    margin: auto;
    font-weight: 600;   
}

.outerdiv h2{
    font-size: 1.425rem;
    font-weight: inherit;
    line-height: 2;
    margin-bottom: 20px;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;  
    display: inline-block; 
    border: 1px solid #ccc;
}

input:focus{
    outline:none;
}

.formclass{
    border: 1px solid #ccc;
    padding:25px;
    border-radius: 5px;
}

.requiredLabel{
    display: block;
    font-size: 0.8rem;
    font-weight: 800; 
}

.requiredLabel:after {
    content:" *";
    color: red;
  }

  .formclass p{
    font-weight: 400;
    color: #212529;
    line-height: 1.85714285714286;
  }

  .registerandloginandresetBtn{
    color: white;
    border-color: #ff5151;
    background-color: #ff5151;
    line-height: 1;
    cursor: pointer;
    font-weight: 700;
    box-shadow: none;
    font-size: 100%;
    border-radius: 5px;
    padding : 13px 40px;
    margin-top: 10px;
    display: block;
  }

  .lostPasswordLink{
    color:red;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    line-height: 1.85714285714286;
    font-weight: 400;
  }