@import '../../main.scss';

.lostPasswordOuterdiv{
    padding: 50px 20px;
    margin-left: auto;
    margin-right: auto;   
    line-height: 1.85714285714286; 
    padding-left: 30px;
    p{
        margin-bottom: 0px;
        padding-bottom: 20px;
        color: $textColor
    }
    input{
        margin-top: 0px;
        display: block;
    }
}

